.intro {
  background-color: #2ec27e;
  margin: 0 0 2rem;
  padding: 6rem 0 3rem;
  text-align: center;
}

.intro-icon {
  margin: 0 auto 1rem;
  width: 200px;
}

.intro .container {
  max-width: 500px;
}

.title {
  font-size: 2em;
  line-height: 1;
}

@media screen and (min-width: 400px) {
  .title {
    font-size: 2.5em;
    line-height: 1.25;
  }
}

.subtitle {
  margin-top: 2em;
  font-size: 1em;
  font-weight: 600;
}
